/* this is a top level placeholder for core-styles use @import instead of placing actual styles here*/
/*CONFIGS*/
/*STANDARD*/
/*APP-SPECIFIC*/
/*COLORS*/
/*BACKGROUNDS*/
/*BORDERS*/
/*SHADOWS*/
/*video filter-menu*/
/*BROWSERS*/
/*Forces Hardware Acceleration on items which */
/*Disabling appearance will remove the browser-specific appearance associated with items such as progress indicators, buttons, menus, etc*/
/*Disabling pointer events will keep elements from responding to clicks, hover and taps*/
/*Disabling select will disallow the select of an element's text content*/
/*Disbling content edit will keep users from being able to modify an element's content.*/
/*The dialogue which appears after holding your finger on an item for a specified period of time.*/
/*This will enable momentum scrolling instead of the traditional behavior.*/
/*Setting element to false will force the element's content to be draggable*/
/*Disable any rich-text characters from input.*/
/*Disabling Focus will prevent an item from receiving focus and being tabbed to.*/
/*Forces the broken image icon for missing images, instead of displaying their alt attr.*/
/*=====IE8=====*/
/*=====SetLayout=====*/
/*MS POINTER EVENTS*/
/*MS TOUCH SCROLLBARS*/
/*=====IEFilter=====*/
/*=====IEImg=====*/
/*=====IEGradient=====*/
/*=====IEBackground=====*/
/*=====IEOpacity=====*/
/*=====IEGradientDir=====*/
/*=====getFilter=====*/
/*MIXINS*/
/*Forces Hardware Acceleration on items which */
/*Disabling appearance will remove the browser-specific appearance associated with items such as progress indicators, buttons, menus, etc*/
/*Disabling pointer events will keep elements from responding to clicks, hover and taps*/
/*Disabling select will disallow the select of an element's text content*/
/*Disbling content edit will keep users from being able to modify an element's content.*/
/*=====IE8=====*/
/*=====SetLayout=====*/
/*MS POINTER EVENTS*/
/*MS TOUCH SCROLLBARS*/
/*=====IEFilter=====*/
/*=====IEImg=====*/
/*=====IEGradient=====*/
/*=====IEBackground=====*/
/*=====IEOpacity=====*/
/*=====IEGradientDir=====*/
/*=====getFilter=====*/
/*Disabling Focus will prevent an item from receiving focus and being tabbed to.*/
/*Forces the broken image icon for missing images, instead of displaying their alt attr.*/
/*The dialogue which appears after holding your finger on an item for a specified period of time.*/
/*This will enable momentum scrolling instead of the traditional behavior.*/
/*Setting element to false will force the element's content to be draggable*/
/*Disable any rich-text characters from input.*/
/* transition mixin accepts multiple style properties and transition timings types. I.e., css syntax ( ('top 1 linear', 'left 1 ease-in-out' ) ) */
/* base.scss */
body {
  color: #fff;
  background-color: #000; }

#fixedbg {
  background-image: url("/images/golden_flame_fractal_background_seamless.jpg");
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: -1;
  top: 0; }

.fade-in {
  -webkit-opacity: 0;
  -ms-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in;
  -ms-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  position: absolute;
  left: 8px;
  top: 8px; }
  .fade-in.fade-in {
    -webkit-opacity: 1;
    -ms-opacity: 1;
    opacity: 1; }

.fade-out {
  -webkit-opacity: 1;
  -ms-opacity: 1;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  position: absolute;
  left: 8px;
  top: 8px; }
  .fade-out.fade-out {
    -webkit-opacity: 0;
    -ms-opacity: 0;
    opacity: 0; }
