/* this is a top level placeholder for phone-styles use @import instead of placing actual styles here*/
@include mediaQuery(config3) {
  #fixedbg {
    display: none;
  }


  .primary-itm, .secondary-itm {
    width: 100%;
    height: 125px;
    position:absolute;
    left: 0;
  }
  .primary-image, .secondary-image {
    background-repeat: no-repeat;
    background-size: 230px,125px;
    border-top: 1px solid #d7bf50;
    height: 125px;
    overflow: hidden;
    background-color: black;
  }

  .primary-itm:nth-child(1) {
    top: 0px;
  }

  .primary-itm:nth-child(2) {
    top: 126px;
  }

  .secondary-itm:nth-child(1) {
    top: 252px;
  }

  .secondary-itm:nth-child(2) {
    top: 378px;
  }

  .primary-itm:nth-child(3) {
    top: 504px;
  }

  .secondary-itm:nth-child(3) {
    top: 630px;
  }

  .secondary-itm:nth-child(4) {
    top: 756px;
  }

  .primary-itm:nth-child(4) {
    top: 882px;
  }

  .secondary-itm:nth-child(5) {
    top: 1008px;
  }

  .secondary-itm:nth-child(6) {
    top: 1134px;
  }



  #panorama-tertiary-list {
    top: 0px;
    position: absolute;
  }
  .program-callout {
    height: 125px;
    min-width: 210px;
    width: 66%;
    float: right;
    background: #000;
    opacity: 0.7;
    border-top: 1px solid #d7bf50;
    overlow:hidden;
    z-index: 2;

    .col:nth-of-type(2) {
      display:none;
    }
  }

  .program_text h2 {
    font-family: "Proxima Nova Light", sans-serif;
    line-height: 1em;
    text-transform: none;
    margin-left: 10px;
    margin-top: 30px;
    width: 75%;
    top: 0;
    left: 250px;
  }

  .program_text {
    height: 125px;
    min-width: 210px;
    width: 66%;
    float: right;
    background: #000;
    opacity: 0.7;
  }
}