
.idea/**/* 
.idea/.name
.idea/workspace.xml

node_modules/**/*
node_modules/.name

publish/**/*
publlish/.name

i.lv3.hbo.com/**/*
coverage/**/*


.idea/ItsNotTV.iml

.idea/encodings.xml

.idea/vcs.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml
