@include mediaQuery(config12) {
  .parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  };



  .parallax-layer.primary {
    z-index: 1;
    overflow: hidden;
    height:100%;

  }

  .parallax-layer.secondary {
    z-index: 2;
    overflow: hidden;
  }


  /* secondary images */
  .secondary-image-container {
    background: url(#{$image-path}/secondary_dropshadow_bg.png) 0 0 no-repeat;
    width: 533px;
    height: 440px;
    padding: 15px 0 0 10px;

    .secondary-image {
      width: auto;
      height: 390px;
      background-size: 100% 100%;
      -webkit-mask: url(#{$image-path}/secondary_image_mask.svg);
    }
  }

  .parallax-layer.tertiary {
    z-index: 3;
  }

  .primary-itm {
    position: absolute;
    @include hardwareAccelerate();
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top left;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url('#{$image-path}/mask_landscape.png');
    &:first-of-type {
      -webkit-mask-image: url('#{$image-path}/mask_first.png');
    }
    &:last-of-type {
      -webkit-mask-image: url('#{$image-path}/mask_last.png');
    }
  }

  .primary-image {
    height: 100%;
    width: 1150px;
  }


  .primary-itm:nth-child(1) {
    left: 0px;
  }

  .primary-itm:nth-child(2) {
    left: 1150px;
  }

  .primary-itm:nth-child(3) {
    left: 2300px;
  }

  .primary-itm:nth-child(4) {
    left: 3450px;
  }

  .primary-itm:nth-child(5) {
    left: 4600px;
  }

  .primary-itm:nth-child(6) {
    left: 5750px;
  }

  .secondary-itm {
    @include hardwareAccelerate();
    position: absolute;
  }

  .secondary-itm:nth-child(even){
    bottom: 45px;
  }

  .secondary-itm:nth-child(odd){
    top: 45px;
  }

  .secondary-image {
    width: 550px;
    height: 400px;
  }

  .secondary-itm:nth-child(1){
    left: 688px;
  }

  .secondary-itm:nth-child(2){
    left: 1053px;
  }

  .secondary-itm:nth-child(3){
    left: 1913px;
  }

  .secondary-itm:nth-child(4){
    left: 2280px;
  }

  .secondary-itm:nth-child(5){
    left: 3160px;
  }

  .secondary-itm:nth-child(6){
    left: 3536px;
  }

  .secondary-itm:nth-child(7){
    left: 4260px;
  }

  .secondary-itm:nth-child(8){
    left: 4640px;
  }


}
