@include mediaQuery(config12) {
  .parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  };



  .parallax-layer.primary {
    z-index: 1;
    overflow: hidden;
    height:100%;

  }

  .parallax-layer.secondary {
    z-index: 2;


  }

  .parallax-layer.tertiary {
    z-index: 3;

    .tertiary-container {
      position: relative;
      width: 745px;
      height: 384px;
    }

  }
}
