/* base.scss */
$image-path: '/images';

body {
  color: #fff;
  background-color: #000;
  margin: 0;
}

#fixedbg{
  background-image: url($image-path + '/golden_flame_fractal_background_seamless.jpg');
  height:100%;
  position:fixed;
  width:100%;
  z-index:-1;
  top:0;
}

.fade-in {
  @include fadeIn();
}

.fade-out {
  @include fadeOut();
  position:absolute;
  top: 0px;
  left: 0px;
}