/* base.scss */
$image-path: '/images';


html{
  font-family: Arial, "Lucida Grande", sans-serif;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
};

body{
  //@include vendorPrefixes(text-rendering, optimizeLegibility);
  //@include vendorPrefixes(font-smoothing, antialiased);
  color: white;
  //-ms-content-zooming: none;
  /* needed to prevent white band on right during
     during orientaiton change on ipad         */
  background-color: #000;
  margin: 0;
  //height: 100%;
};


a{
  font-family: arial;
  text-decoration: none;
  color: white;
};

.parallax-container ul {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-padding-start: 0px;
  list-style-type: none;
}

.primary-image {
  background-repeat: no-repeat;
}

#fixedbg{
  background-image: url($image-path + '/golden_flame_fractal_background_seamless.jpg');
  height:100%;
  position:fixed;
  width:100%;
  z-index:-1;
  top:0;
}

.fade-in {
  @include fadeIn();
}

.fade-out {
  @include fadeOut();
  position:absolute;
  top: 0px;
  left: 0px;
}