
/*STANDARD*/
$phone-min: 320px;
$phone-max: 480px;

$tablet-min: 768px;
$tablet-max: 1024px;

$retina-min: 1.5;
$retina-max: 2;

$desktop-min: 1224px;
$desktop-lg-min: 1824px;

/*APP-SPECIFIC*/
$configuration-1-min: 1024px;
$configuration-1-max: 1280px;

$configuration-2-min: 768px;
$configuration-2-max: 1023px;

$configuration-3-min: 320px;
$configuration-3-max: 767px;
