
$horizontal_expanding_modules_transition: width .5s ease;
$horizontal_expanding_image-modules_transition: width .3s ease;

$vertical_expanding_modules_transition: height .5s ease;

$horizontal_sliding_transition_left: margin-left .5s ease;