<!-- application/views/panorama/layout.ptl.html -->
<div class="parallax-container"
     ng-controller="intv.app.views.panorama.PanoramaCtrl">
    <div id="base" ng-class="{ 'parallax-layer': true, 'base': true }" class="parallax-layer base"></div>
    <div id="primary" ng-class="{ 'parallax-layer': true, 'primary': true }"
         class="parallax-layer primary">
        <ul id="panorama-primary-list">
            <!-- ngRepeat: image in primary -->
            <li class="primary-itm primary-itm-0">
                <div class="primary-image"></div>
            </li>
            <li class="primary-itm primary-itm-1">
                <div class="primary-image"></div>
            </li>
            <li class="primary-itm primary-itm-2">
                <div class="primary-image"></div>
            </li>
            <li class="primary-itm primary-itm-3">
                <div class="primary-image"></div>
            </li>
        </ul>
    </div>
    <div id="secondary" ng-class="{ 'parallax-layer': true, 'native-scroll': true, 'secondary': true }"
         class="parallax-layer native-scroll secondary">
        <ul id="panorama-secondary-list""
            >
            <!-- ngRepeat: image in secondary -->
            <li ng-style="secondaryStyles[$index]"
                class="secondary-img-0 secondary-itm-0">
                <div class="secondary-image-container">
                    <div class="secondary-image"></div>
                </div>
            </li>
            <li ng-style="secondaryStyles[$index]"
                class="secondary-img-1 secondary-itm-1">
                <div class="secondary-image-container">
                    <div class="secondary-image"></div>
                </div>
            </li>
            <li ng-style="secondaryStyles[$index]"
                class="secondary-img-2 secondary-itm-2">
                <div class="secondary-image-container">
                    <div class="secondary-image "></div>
                </div>
            </li>
            <li ng-style="secondaryStyles[$index]"
                class="secondary-img-3 secondary-itm-3">
                <div class="secondary-image-container">
                    <div class="secondary-image"></div>
                </div>
            </li>
            <li ng-style="secondaryStyles[$index]"
                class="secondary-img-4 secondary-itm-4">
                <div class="secondary-image-container">
                    <div class="secondary-image"></div>
                </div>
            </li>
            <li ng-style="secondaryStyles[$index]"
                class="secondary-img-5 secondary-itm-5">
                <div class="secondary-image-container">
                    <div class="secondary-image"></div>
                </div>
            </li>
        </ul>
    </div>
    <div id="title" ng-class="{ 'parallax-layer': true, 'tertiary': true }" class="parallax-layer tertiary"
         >
        <ul id="panorama-tertiary-list">
            <!-- ngRepeat: title in programs -->
            <li ng-style="tertiaryStyles[$index]" class="tertiary-itm-0 program-callout"
                ng-class="{ 'program-callout': true, 'opaque': tertiaryItm.opacity.opaque }">
                <div class="col">
                    <div class="title-container"><h2 class="program-title-short">True Detective</h2>
                        <time class="icon-tune-in schedule ng-binding"
                              ng-class="{ 'isHidden': title.tune_in.length &lt; 1 }">PREMIERING SUN 9PM
                        </time>
                    </div>
                </div>
                <div class="col"><p class="program-summary ng-binding"
                                    ng-bind-html-unsafe="title.marketing_message | spaceFiller">Touch darkness and
                    darkness touches you back.</p> <h4 class="call-to-action"
                                                       ng-class="{ 'isHidden': !title.call_to_action.message }"><a
                        href="true-detective/?section=landing" hbo-target="" class="ng-binding" target="_self">Watch a
                    Preview</a></h4> <a class="foreground-expand ng-binding" href="true-detective" hbo-target=""
                                        target="_self">true-detective</a></div>
                <a class="expand" href="true-detective" hbo-target="" target="_self"></a></li>
            <li ng-style="tertiaryStyles[$index]" class="tertiary-itm-1 program-callout"
                ng-class="{ 'program-callout': true, 'opaque': tertiaryItm.opacity.opaque }">
                <div class="col">
                    <div class="title-container"><h2 class="program-title-short">Looking</h2>
                        <time class="icon-tune-in schedule ng-binding"
                              ng-class="{ 'isHidden': title.tune_in.length &lt; 1 }">PREMIERING SUN JAN 19
                        </time>
                    </div>
                </div>
                <div class="col"><p class="program-summary ng-binding"
                                    ng-bind-html-unsafe="title.marketing_message | spaceFiller">Find something real. A
                    new series about living - and loving - in San Francisco.</p> <h4 class="call-to-action"
                                                                                     ng-class="{ 'isHidden': !title.call_to_action.message }">
                    <a href="looking/?section=landing" hbo-target="" class="ng-binding" target="_self">Watch a
                        Preview</a></h4> <a class="foreground-expand ng-binding" href="looking" hbo-target=""
                                            target="_self">looking</a></div>
                <a class="expand" href="looking" hbo-target="" target="_self"></a></li>
            <li ng-style="tertiaryStyles[$index]" class="tertiary-itm-2 program-callout"
                ng-class="{ 'program-callout': true, 'opaque': tertiaryItm.opacity.opaque }">
                <div class="col">
                    <div class="title-container"><h2 class="program-title-short">Girls</h2>
                        <time class="icon-tune-in schedule ng-binding"
                              ng-class="{ 'isHidden': title.tune_in.length &lt; 1 }">PREMIERING SUN 10 PM
                        </time>
                    </div>
                </div>
                <div class="col"><p class="program-summary ng-binding"
                                    ng-bind-html-unsafe="title.marketing_message | spaceFiller">Happily whatever
                    after. </p> <h4 class="call-to-action" ng-class="{ 'isHidden': !title.call_to_action.message }"><a
                        href="girls/?section=latest" hbo-target="" class="ng-binding" target="_self">Watch a Preview</a>
                </h4> <a class="foreground-expand ng-binding" href="girls" hbo-target="" target="_self">girls</a></div>
                <a class="expand" href="girls" hbo-target="" target="_self"></a></li>
            <li ng-style="tertiaryStyles[$index]" class="tertiary-itm-3 program-callout"
                ng-class="{ 'program-callout': true, 'opaque': tertiaryItm.opacity.opaque }">
                <div class="col">
                    <div class="title-container"><h2 class="program-title-short">Silicon Valley</h2>
                        <time class="icon-tune-in schedule ng-binding"
                              ng-class="{ 'isHidden': title.tune_in.length &lt; 1 }">COMING IN APRIL
                        </time>
                    </div>
                </div>
                <div class="col"><p class="program-summary ng-binding"
                                    ng-bind-html-unsafe="title.marketing_message | spaceFiller">From creator Mike Judge
                    a new comedy about making it in high tech.</p> <h4 class="call-to-action"
                                                                       ng-class="{ 'isHidden': !title.call_to_action.message }">
                    <a href="silicon-valley/?section=landing" hbo-target="" class="ng-binding" target="_self">Find Out
                        More</a></h4> <a class="foreground-expand ng-binding" href="silicon-valley" hbo-target=""
                                         target="_self">silicon-valley</a></div>
                <a class="expand" href="silicon-valley" hbo-target="" target="_self"></a></li>
            <li ng-style="tertiaryStyles[$index]" class="tertiary-itm-4 program-callout"
                ng-class="{ 'program-callout': true, 'opaque': tertiaryItm.opacity.opaque }">
                <div class="col">
                    <div class="title-container"><h2 class="program-title-short">The Normal Heart</h2>
                        <time class="icon-tune-in schedule ng-binding"
                              ng-class="{ 'isHidden': title.tune_in.length &lt; 1 }">COMING IN MAY
                        </time>
                    </div>
                </div>
                <div class="col"><p class="program-summary ng-binding"
                                    ng-bind-html-unsafe="title.marketing_message | spaceFiller">HBO Films presents Larry
                    Kramer's adaptation of his award-winning play.</p> <h4 class="call-to-action"
                                                                           ng-class="{ 'isHidden': !title.call_to_action.message }">
                    <a href="movies/the-normal-heart/?section=landing" hbo-target="" class="ng-binding" target="_self">Find
                        Out More</a></h4> <a class="foreground-expand ng-binding" href="movies/the-normal-heart"
                                             hbo-target="" target="_self">movies/the-normal-heart</a></div>
                <a class="expand" href="movies/the-normal-heart" hbo-target="" target="_self"></a></li>
            <li ng-style="tertiaryStyles[$index]" class="tertiary-itm-5 program-callout"
                ng-class="{ 'program-callout': true, 'opaque': tertiaryItm.opacity.opaque }">
                <div class="col">
                    <div class="title-container"><h2 class="program-title-long">Real Time with Bill Maher</h2>
                        <time class="icon-tune-in schedule ng-binding"
                              ng-class="{ 'isHidden': title.tune_in.length &lt; 1 }">RETURNS FRI JAN 17
                        </time>
                    </div>
                </div>
                <div class="col"><p class="program-summary ng-binding"
                                    ng-bind-html-unsafe="title.marketing_message | spaceFiller">Join Bill's audience and
                    see Real Time live in Los Angeles.</p> <h4 class="call-to-action"
                                                               ng-class="{ 'isHidden': !title.call_to_action.message }">
                    <a href="real-time-with-bill-maher/?section=latest" hbo-target="" class="ng-binding" target="_self">Find
                        Out More</a></h4> <a class="foreground-expand ng-binding" href="real-time-with-bill-maher"
                                             hbo-target="" target="_self">real-time-with-bill-maher</a></div>
                <a class="expand" href="real-time-with-bill-maher" hbo-target="" target="_self"></a></li>
            <li ng-style="tertiaryStyles[$index]" class="tertiary-itm-6 program-callout"
                ng-class="{ 'program-callout': true, 'opaque': tertiaryItm.opacity.opaque }">
                <div class="col">
                    <div class="title-container"><h2 class="program-title-short">Game of Thrones</h2>
                        <time class="icon-tune-in schedule ng-binding"
                              ng-class="{ 'isHidden': title.tune_in.length &lt; 1 }">#RoastJoffrey
                        </time>
                    </div>
                </div>
                <div class="col"><p class="program-summary ng-binding"
                                    ng-bind-html-unsafe="title.marketing_message | spaceFiller">Roast Joffrey on
                    Twitter, Facebook, Instagram and Vine using #RoastJoffery.</p> <h4 class="call-to-action"
                                                                                       ng-class="{ 'isHidden': !title.call_to_action.message }">
                    <a href="game-of-thrones/?section=latest" hbo-target="" class="ng-binding" target="_self">Find Out
                        More</a></h4> <a class="foreground-expand ng-binding" href="game-of-thrones" hbo-target=""
                                         target="_self">game-of-thrones</a></div>
                <a class="expand" href="game-of-thrones" hbo-target="" target="_self"></a></li>
            <li ng-style="tertiaryStyles[$index]" class="tertiary-itm-7 program-callout"
                ng-class="{ 'program-callout': true, 'opaque': tertiaryItm.opacity.opaque }">
                <div class="col">
                    <div class="title-container"><h2 class="program-title-long">Behind the Candelabra</h2>
                        <time class="icon-tune-in schedule ng-binding"
                              ng-class="{ 'isHidden': title.tune_in.length &lt; 1 }">HBO FILMS
                        </time>
                    </div>
                </div>
                <div class="col"><p class="program-summary ng-binding"
                                    ng-bind-html-unsafe="title.marketing_message | spaceFiller">Michael Douglas and Matt
                    Damon star in the story of Liberace.</p> <h4 class="call-to-action"
                                                                 ng-class="{ 'isHidden': !title.call_to_action.message }">
                    <a href="movies/behind-the-candelabra/?section=landing" hbo-target="" class="ng-binding"
                       target="_self">Find Out More</a></h4> <a class="foreground-expand ng-binding"
                                                                href="movies/behind-the-candelabra" hbo-target=""
                                                                target="_self">movies/behind-the-candelabra</a></div>
                <a class="expand" href="movies/behind-the-candelabra" hbo-target="" target="_self"></a></li>
            <li ng-style="tertiaryStyles[$index]" class="tertiary-itm-8 program-callout"
                ng-class="{ 'program-callout': true, 'opaque': tertiaryItm.opacity.opaque }">
                <div class="col">
                    <div class="title-container"><h2 class="program-title-long">Real Sports with Bryant Gumbel</h2>
                        <time class="icon-tune-in schedule ng-binding"
                              ng-class="{ 'isHidden': title.tune_in.length &lt; 1 }">RETURNS TUE JAN 21
                        </time>
                    </div>
                </div>
                <div class="col"><p class="program-summary ng-binding"
                                    ng-bind-html-unsafe="title.marketing_message | spaceFiller">Nothing's out of
                    bounds.</p> <h4 class="call-to-action" ng-class="{ 'isHidden': !title.call_to_action.message }"><a
                        href="real-sports-with-bryant-gumbel/?section=landing" hbo-target="" class="ng-binding"
                        target="_self">Find Out More</a></h4> <a class="foreground-expand ng-binding"
                                                                 href="real-sports-with-bryant-gumbel" hbo-target=""
                                                                 target="_self">real-sports-with-bryant-gumbel</a></div>
                <a class="expand" href="real-sports-with-bryant-gumbel" hbo-target="" target="_self"></a></li>
            <li ng-style="tertiaryStyles[$index]" class="tertiary-itm-9 program-callout"
                ng-class="{ 'program-callout': true, 'opaque': tertiaryItm.opacity.opaque }">
                <div class="col">
                    <div class="title-container"><h2 class="program-title-long">The Education of Mohammad Hussein</h2>
                        <time class="icon-tune-in schedule ng-binding"
                              ng-class="{ 'isHidden': title.tune_in.length &lt; 1 }">NOW ON AIR
                        </time>
                    </div>
                </div>
                <div class="col"><p class="program-summary ng-binding"
                                    ng-bind-html-unsafe="title.marketing_message | spaceFiller">Growing up Muslim in
                    America.</p> <h4 class="call-to-action" ng-class="{ 'isHidden': !title.call_to_action.message }"><a
                        href="documentaries/the-education-of-mohammad-hussein/?section=latest" hbo-target=""
                        class="ng-binding" target="_self">Watch a Preview</a></h4> <a
                        class="foreground-expand ng-binding" href="documentaries/the-education-of-mohammad-hussein"
                        hbo-target="" target="_self">documentaries/the-education-of-mohammad-hussein</a></div>
                <a class="expand" href="documentaries/the-education-of-mohammad-hussein" hbo-target=""
                   target="_self"></a></li>
        </ul>
    </div>
</div>