<!-- application/views/panorama/layout.ptl.html -->
<div class="parallax-container"
     ng-controller="intv.app.views.panorama.PanoramaCtrl">
    <div id="primary" ng-class="{ 'parallax-layer': true, 'primary': true }"
         class="parallax-layer primary">
        <ul id="panorama-primary-list">
            <li ng-repeat="image in primary"
                class="primary-itm"
                ng-init="imageType='primary'">
                <style webkitscoped scoped x-webkit-scoped
                       ng-controller="intv.core.controllers.cssBackgroundStylesController"
                       ng-bind="styleStr || cssBackgroundStyles(image, '.primary-itm:nth-child(' + ($index +1) + ') .primary-image')">
                </style>
                <div class="primary-image"></div>
            </li>
        </ul>
    </div>
    <div id="secondary" ng-class="{ 'parallax-layer': true, 'native-scroll': true, 'secondary': true }"
         class="parallax-layer native-scroll secondary">
        <ul id="panorama-secondary-list">
            <li ng-repeat="image in secondary"
                class="secondary-itm"
                ng-init="imageType='secondary'">
                <div class="secondary-image-container">
                    <style webkitscoped scoped x-webkit-scoped
                           ng-controller="intv.core.controllers.cssBackgroundStylesController"
                           ng-bind="styleStr || cssBackgroundStyles(image, '.secondary-itm:nth-child(' + ($index +1) + ') .secondary-image')">
                    </style>
                    <div class="secondary-image"></div>
                </div>
            </li>
        </ul>
    </div>
    <div id="title" ng-class="{ 'parallax-layer': true, 'tertiary': true }" class="parallax-layer tertiary">
        <ul id="panorama-tertiary-list">
            <li ng-repeat="title in programs"
                class="tertiary-itm program-callout"
                ng-class="{ 'program-callout': true, 'opaque': tertiaryItm.opacity.opaque }">
                <div class="col">
                    <h2 ng-class="{ 'program-title-short': !testThresholdExceeded(title.program_title, 9, 20),
                                    'program-title-long': testThresholdExceeded(title.program_title, 9, 20)
                                  }"
                        ng-bind="title.program_title">
                    </h2>
                    <time class="icon-tune-in schedule"
                          ng-class="{ 'isHidden': title.tune_in.length < 1 }"
                          ng-bind="title.tune_in">
                    </time>
                </div>
                <div class="col">
                    <p class="program-summary">{{ title.marketing_message }}</p>
                    <h4 class="call-to-action"
                        ng-class="{ 'isHidden': title.call_to_action.message.length < 1 }">
                        <a ng-href="{{ title.call_to_action.url }}">{{ title.call_to_action.message }}</a>
                    </h4>
                </div>
                <div class="col">
                    <a class="expand" ng-href="{{ title.program_url }}"></a>
                </div>
            </li>
        </ul>
    </div>
</div>