<!-- application/views/panorama/layout.ptl.html -->
<div class="parallax-container"
     ng-controller="intv.app.views.panorama.PanoramaCtrl">
    <div id="primary"
         class="parallax-layer primary">
        <ul id="panorama-primary-list">
            <li ng-repeat="image in primary"
                class="primary-itm"
                ng-init="imageType='primary'">
                <style webkitscoped scoped x-webkit-scoped
                       ng-controller="intv.core.controllers.cssBackgroundStylesController"
                       ng-bind="styleStr ||
                                cssBackgroundStyles(image, '.primary-itm:nth-child(' +
                                ($index +1) +
                                ') .primary-image')">
                </style>
                <div class="primary-image prerender-opacity"></div>
            </li>
        </ul>
    </div>
    <div id="secondary"
         class="parallax-layer native-scroll secondary">
        <ul id="panorama-secondary-list">
            <li ng-repeat="image in secondary"
                class="secondary-itm"
                ng-init="imageType='secondary'">
                <style webkitscoped scoped x-webkit-scoped
                       ng-controller="intv.core.controllers.cssBackgroundStylesController"
                       ng-bind="styleStr || cssBackgroundStyles(image, '.secondary-itm:nth-child(' +($index +1) +') .secondary-image')">
                </style>
                <div class="secondary-image-container prerender-opacity">
                    <div class="secondary-image prerender-opacity"></div>
                </div>
            </li>
        </ul>
    </div>
    <div id="title" class="parallax-layer tertiary">
        <ul id="panorama-tertiary-list">
            <li ng-repeat="title in programs"
                ng-class="{ 'tertiary-itm': true,
                            'program-callout': true,
                            'program-callout': true,
                            'primary': ($index === 0 || $index === 1 || $index === 4 || $index === 7 || $index === 10),
                            'secondary-odd': ($index === 3 || $index === 6 || $index === 9),
                            'secondary-even': ($index === 2  || $index === 5 || $index === 8)}">
                <div class="col">
                    <h2 ng-class="{ 'program-title-short': !testThresholdExceeded(title.program_title, 9, 20),
                                    'program-title-long': testThresholdExceeded(title.program_title, 9, 20)
                                  }"
                        ng-bind="title.program_title">
                    </h2>
                    <time class="icon-tune-in schedule"
                          ng-class="{ 'isHidden': title.tune_in.length < 1 }"
                          ng-bind="title.tune_in">
                    </time>
                </div>
                <div class="col">
                    <p class="program-summary">{{ title.marketing_message }}</p>
                    <h4 class="call-to-action"
                        ng-class="{ 'isHidden': title.call_to_action.message.length < 1 }">
                        <a ng-href="{{ title.call_to_action.url }}">{{ title.call_to_action.message }}</a>
                    </h4>
                </div>
                <div class="col">
                    <a class="expand" ng-href="{{ title.program_url }}"></a>
                </div>
            </li>
        </ul>
    </div>
</div>